<div class="modal-content">
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-evenly">
            <span>Page Name :</span>
            <p class="mb-0 ml-5"> {{pageData?.name}} </p>
        </div>
        <hr />
        <div class="mt-2 d-flex align-items-center justify-content-evenly">
            <span>Page Link :</span>
            <p class="mb-0 ml-5">{{pageData?.url}}</p>
        </div>
        <hr />
        <div class="mt-2 d-flex align-items-center justify-content-evenly">
            <span class="mb-3">Page Content :</span>
            <p class="mb-0 ml-5" [innerHTML]="pageData?.details"></p>
        </div>
    </div>
</div>