img {
    border-radius: 50%;
    display: inline;
    width: 2.5rem;
}

td {
    vertical-align: middle;
    text-align: center;
}

.progress-bar {
    background-color: green;
}

.event-type {
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
}